In [1]:
import pymongo
import pandas as pd
import json

In [2]:
# Initialize PyMongo to work with MongoDBs
conn = 'mongodb://localhost:27017'
client = pymongo.MongoClient(conn)

In [3]:
# Define database and collection
db = client['Proj2_NBA_db']
#collection = db['PlayaPerGameStats']

## Players per game stats

In [4]:
pStats = pd.read_json('../Transform/clean_data/player_per_game_stats_clean.json')

In [5]:
# load pStats into mongodb collection
data_dict = pStats.to_dict("records")

# Insert collection
collection.insert_many(data_dict)

In [6]:
# load database in mongodb
db.Proj2_NBA_db

## GOAT stats table

In [12]:
collection = db['GOATStats']

In [36]:
gStats = pd.read_csv('../Transform/clean_data/GOAT_playoffs_games.csv')
gStats

,Unnamed: 0,Unnamed: 0.1,name,Player_ID,MATCHUP,WL,FG3_PCT,FGM,FTM,MIN,REB,AST,PTS,BLK,STL
0,0,0,Bill Russel,78049,BOS @ LAL,W,0.00,2,2,48,21,6.0,6,0.0,0.0
1,1,1,Bill Russel,78049,BOS vs. LAL,W,0.00,3,3,48,19,2.0,9,0.0,0.0
2,2,2,Bill Russel,78049,BOS @ LAL,L,0.00,3,1,48,13,5.0,7,0.0,0.0
3,3,3,Bill Russel,78049,BOS vs. LAL,W,0.00,2,2,48,29,2.0,6,0.0,0.0
4,4,4,Bill Russel,78049,BOS vs. LAL,W,0.00,5,1,48,18,3.0,11,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369,2369,119,Kawhi Leonard,202695,SAS vs. LAC,W,1.00,5,3,28,6,1.0,16,1.0,3.0
2370,2370,120,Kawhi Leonard,202695,SAS @ UTA,W,0.50,1,0,20,5,0.0,3,0.0,0.0
2371,2371,121,Kawhi Leonard,202695,SAS @ UTA,W,0.00,1,0,15,3,0.0,2,0.0,0.0
2372,2372,122,Kawhi Leonard,202695,SAS vs. UTA,W,0.75,6,2,25,3,1.0,17,0.0,2.0
2373,2373,123,Kawhi Leonard,202695,SAS vs. UTA,W,0.00,2,2,20,2,1.0,6,0.0,2.0

In [40]:
# delete columns 'Unnamed: 0' and 'Unnamed: 0.1'
del gStats['Unnamed: 0.1']

In [41]:
gStats

,name,Player_ID,MATCHUP,WL,FG3_PCT,FGM,FTM,MIN,REB,AST,PTS,BLK,STL
0,Bill Russel,78049,BOS @ LAL,W,0.00,2,2,48,21,6.0,6,0.0,0.0
1,Bill Russel,78049,BOS vs. LAL,W,0.00,3,3,48,19,2.0,9,0.0,0.0
2,Bill Russel,78049,BOS @ LAL,L,0.00,3,1,48,13,5.0,7,0.0,0.0
3,Bill Russel,78049,BOS vs. LAL,W,0.00,2,2,48,29,2.0,6,0.0,0.0
4,Bill Russel,78049,BOS vs. LAL,W,0.00,5,1,48,18,3.0,11,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2369,Kawhi Leonard,202695,SAS vs. LAC,W,1.00,5,3,28,6,1.0,16,1.0,3.0
2370,Kawhi Leonard,202695,SAS @ UTA,W,0.50,1,0,20,5,0.0,3,0.0,0.0
2371,Kawhi Leonard,202695,SAS @ UTA,W,0.00,1,0,15,3,0.0,2,0.0,0.0
2372,Kawhi Leonard,202695,SAS vs. UTA,W,0.75,6,2,25,3,1.0,17,0.0,2.0
2373,Kawhi Leonard,202695,SAS vs. UTA,W,0.00,2,2,20,2,1.0,6,0.0,2.0

In [42]:
# load gStats into mongodb collection
data_dict = gStats.to_dict("records")

# Insert collection
collection.insert_many(data_dict)

## Season stats table

In [43]:
collection = db['SeasonStats']

In [44]:
sStats = pd.read_csv('../Transform/clean_data/nba_season_data.csv')

In [45]:
# load sStats into mongodb collection
data_dict = sStats.to_dict("records")

# Insert collection
collection.insert_many(data_dict)

## Teams Table

In [46]:
collection = db['Teams']

In [47]:
vStats = pd.read_csv('../Transform/clean_data/Teams.csv')

In [48]:
# load vStats into mongodb collection
data_dict = vStats.to_dict("records")

# Insert collection
collection.insert_many(data_dict)

## Player Information Table

In [49]:
collection = db['Player_info']

In [50]:
zStats = pd.read_csv('../Transform/clean_data/Player_Info.csv')

In [51]:
# load zStats into mongodb collection
data_dict = zStats.to_dict("records")

# Insert collection
collection.insert_many(data_dict)

## check loaded collections

In [52]:
## load db from mongodb
# Checkdb = client.Proj2_NBA_db

In [53]:
## load collection in mongodb
#checkDF = db.PlayaPerGameStats.find()

In [55]:
## print df
# for checkDFs in checkDF:
#     print(checkDFs)